{{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
<div class="card-body">
    {# credenciales #}
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                {{ form_row(registrationForm.username) }}
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                {{ form_row(registrationForm.plainPassword) }}
                <div class="input-group-append">
                    <div class="input-group-text">
                                                    <span class="fas fa-eye" id="verClaveNew"
                                                          style="cursor: pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_row(registrationForm.nombre) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_row(registrationForm.primerApellido) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_row(registrationForm.segundoApellido) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                </div>
            </div>
        </div>
</div>
{# Botones #}
<div class="card-footer">
    <div class="row justify-content-center">
        <div>
            <button type="submit" class="btn btn-secondary"> Registrar</button>
            <a class="btn btn-default" href="#"> Cancelar</a>
        </div>
    </div>
</div>
{{ form_end(registrationForm) }}